body
*{ margin: 5px; padding: 3px;}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{ display: block;border-radius: 20px;}

h1{text-align: center;font:bold 20px verdana, sans-serif;color: white;}
h2{text-align: center;font: bold 20px verdana, sans-serif;}
h3{text-align: center;font: bold 20px verdana, sans-serif;}
h4{text-align: center;font: bold 20px verdana, sans-serif;}
p{text-align: justify;}
figure{text-align: center;}

#cabecera{
  
  background: rgba(244,244,245,1);
  text-align: center;
  margin-top: 40px;
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 0px;
  padding-top:30px;
  width:80%;
  height:150px;
  
}

#principal{
  
  background-color:#004569;}
 

#menu { background: #FFFFFF; border:1px solid #000000; padding: 5px 35px;text-align: center;color: black;border-radius: 20px; 
      color: white;}

#seccion { width: 95%; margin: 20px; float: left;color: black;border-radius: 20px;
           background: #FFFFFF;
       background: -moz-radial-gradient(center, circle, #0000FF , #00008B );}

#columna { width: 20%; margin: 20px 0px; float: left; padding: 20px;border-radius: 20px;
          background: #FFFFFF;
        background: #FFFFFF;}

#pie { clear: both;background: #000000; text-align: center;padding: 2px; color: white;
       border-radius: 20px;}

nav{
display:inline;
background: #CCC;
margin-left:10%;
margin-right:10%;
padding-top:15px;
width:80%;
height:40px;
float:left;
text-align:center;}

body {
background-color:#004569;} 

nav ul{
  padding-left: 0px;
  margin-left: 0px;
  background: #CCC;  
  width: 80%;
 
  display: inline;
  
}

nav ul li{
display:inline;
width:80%;
color:#000;
padding: 0px 20px 0px 20px;

}

nav ul li a{
background:#CCC;
width:80%;
color:#000;
text-decoration:none;
display:inline;
}

nav ul li a:hover { 
outline: none;
color:#FFF;
background:#004569;
padding: 10px 10px 10px 10px;
display: inline;
border-radius: 5px;
}


#presentacion1{
float: left;
width:60%;
height: 250px;
display: table;
margin-top: 15px;
margin-left:11%;
margin-right: 10%;
margin-bottom: 25px;
text-align:justify;
border: 2px solid black;
font-family:calibri;
font-size: 15px;
background:#FFF;
padding: 10px 25px 10px 170px;
border-radius: 0px 20px 0px 20px;
transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-moz--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-ms--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-o--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;}

#nancy{
width: 125px;
height: 125px;
font-family: calibri;
font-size: 20px;
color: white;
text-align: center;
background: url(../img/);
background-size:100% 100%;
background-repeat:no-repeat;
display: box;
border: 1px solid black;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 0px 10px 0px 10px;
-ms-border-radius: 0px 10px 0px 10px;
-o-border-radius: 0px 10px 0px 10px;
float: left;
margin-left: -5px;
margin-top:60px;
position: absolute;
transform:translate(-140px,0px);
-webkit-transform:translate(-140px,0px);
-moz-transform:translate(-140px,0px);
-ms-transform:translate(-140px,0px);
-o-transform:translate(-140px,0px);
}

#presentacion2{
float: left;
width:60%;
height: 250px;
display: table;
margin-top: 15px;
margin-left:11%;
margin-right: 10%;
margin-bottom: 25px;
text-align:justify;
border: 2px solid black;
font-family:calibri;
font-size: 15px;
background:#FFF;
padding: 10px 25px 10px 170px;
border-radius: 0px 20px 0px 20px;
transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-moz--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-ms--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-o--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;}

#yecid{
width: 125px;
height: 125px;
font-family: calibri;
font-size: 20px;
color: white;
text-align: center;
background: url(../img/);
background-size:100% 100%;
background-repeat:no-repeat;
display: box;
border: 1px solid black;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 0px 10px 0px 10px;
-ms-border-radius: 0px 10px 0px 10px;
-o-border-radius: 0px 10px 0px 10px;
float: left;
margin-left: -5px;
margin-top:60px;
position: absolute;
transform:translate(-140px,0px);
-webkit-transform:translate(-140px,0px);
-moz-transform:translate(-140px,0px);
-ms-transform:translate(-140px,0px);
-o-transform:translate(-140px,0px);
}

#presentacion3{
float: left;
width:60%;
height: 250px;
display: table;
margin-top: 15px;
margin-left:11%;
margin-right: 10%;
margin-bottom: 25px;
text-align:justify;
border: 2px solid black;
font-family:calibri;
font-size: 15px;
background:#FFF;
padding: 10px 25px 10px 170px;
border-radius: 0px 20px 0px 20px;
transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-moz--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-ms--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
-o--webkit-transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;}

#otro{
width: 125px;
height: 125px;
font-family: calibri;
font-size: 20px;
color: white;
text-align: center;
background: url(../img/);
background-size:100% 100%;
background-repeat:no-repeat;
display: box;
border: 1px solid black;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 0px 10px 0px 10px;
-ms-border-radius: 0px 10px 0px 10px;
-o-border-radius: 0px 10px 0px 10px;
float: left;
margin-left: -5px;
margin-top:60px;
position: absolute;
transform:translate(-140px,0px);
-webkit-transform:translate(-140px,0px);
-moz-transform:translate(-140px,0px);
-ms-transform:translate(-140px,0px);
-o-transform:translate(-140px,0px);
}










